apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - scaledobject.yaml
  - ingress-gcp.yaml

transformers:
  - |-
    apiVersion: builtin
    kind: NamespaceTransformer
    metadata:
      name: namespace-transformer
    namespace: apps
    unsetOnly: true

patches:
  - patch: |-
      - op: add
        path: /spec/template/spec/imagePullSecrets
        value:
          - name: artifact-registry
    target:
      kind: Deployment
      name: fastapi
  - patch: |-
      $patch: delete
      apiVersion: autoscaling/v2
      kind: HorizontalPodAutoscaler
      metadata:
        name: fastapi
    target:
      kind: HorizontalPodAutoscaler
      name: fastapi

labels:
  - pairs:
      environment: gcp
      cloud: gcp
    includeSelectors: false

configMapGenerator:
  - name: fastapi-config
    literals:
      - ENV=production
      - LOG_LEVEL=INFO