# k3d Configuration for Development Environment
# This creates a lightweight cluster optimized for dev with Tilt
apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: k3s-dev
servers: 1
agents: 1
image: rancher/k3s:v1.31.2-k3s1
kubeAPI:
  hostIP: "0.0.0.0"
  hostPort: "6444"
ports:
  - port: 8080:80
    nodeFilters:
      - loadbalancer
  - port: 8443:443
    nodeFilters:
      - loadbalancer
registries:
  create:
    name: registry.localhost
    host: "0.0.0.0"
    hostPort: "5111"
options:
  k3d:
    wait: true
    timeout: "120s"
  k3s:
    extraArgs:
      - arg: --disable=traefik
        nodeFilters:
          - server:*
  kubeconfig:
    updateDefaultKubeconfig: true
    switchCurrentContext: true
